{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
                &nbsp;
            </div>
            <div class="col-sm-10">
                <div class="page-header">
                    <h1 class="mt-4, pt-4">{{ title }}</h1>
                </div>

                <h2 class="mt-3">{{ gapminder[0] }}</h2>
                <div class="chart" id="gapminder">

                    <script>
                        let gapminder = {{ gapminder[1] | safe}};
                        Plotly.plot('gapminder', gapminder, {});
                    </script>
                </div>

                <h2>{{ accumulated[0] }}</h2>
                <div class="chart" id="chart_accumulated">
                    <script>
                        let chart_accumulated = {{ accumulated[1] | safe }};
                        Plotly.plot('chart_accumulated', chart_accumulated, {});
                    </script>
                </div>

                <h2 class="mt-3">{{ new[0] }}</h2>
                <div class="chart" id="chart_new">

                    <script>
                        let chart_new = {{ new[1] | safe}};
                        Plotly.plot('chart_new', chart_new, {});
                    </script>
                </div>

                <h2 class="mt-3">{{ delta[0] }}</h2>
                <div class="chart" id="chart_delta">

                    <script>
                        let chart_delta = {{ delta[1] | safe}};
                        Plotly.plot('chart_delta', chart_delta, {});
                    </script>
                </div>
            </div>
            <div class="col-sm-1">
                &nbsp;
            </div>
        </div>
    </div>

{% endblock %}
